extends layout-main

block content
  .container
    .title-container
      h2 Lista de Recursos
      .search-bar-container
        form(action="/listaRecursos" method="get" class="search-form")
          input(type="text" name="search" placeholder="Pesquisar..." class="search-bar")
          button(type="submit" class="search-button")
            i.bi.bi-search.search-icon
        form(action="/listaRecursos" method="get" class="reset-form")
          button(type="submit" class="reset-button")
            i.bi.bi-arrow-counterclockwise.reset-icon
        button.filter-button(type="button" onclick="openFilterModal()") Filtros
          i.bi.bi-funnel

    // Modal de Filtros
    .modal#filterModal
      .modal-content
        span.close(onclick="closeFilterModal()") &times;
        h3 Filtros
        form(action="/listaRecursos" method="get" class="filter-form")
          .form-group
            label(for="filterYear") Ano
            input#filterYear(type="text" name="year" placeholder="Digite o ano")
          .form-group
            label(for="filterTheme") Tema
            input#filterTheme(type="text" name="theme" placeholder="Digite o tema")
          .form-group
            label(for="filterType") Tipo de Recurso
            input#filterType(type="text" name="type" placeholder="Digite o tipo de recurso")
          button(type="submit" class="apply-filters-button") Aplicar Filtros

    .resource-list
      each resource in resources
        a.resource-link(href=`/resource/${resource._id}`)
          .resource-item
            h3 #{resource.title}
            h5 #{resource.subtitle}
            p
              span Tipo:
              | 
              span #{resource.type}
            p
              span Temas:
              | 
              span #{resource.themes}
            p
              span Autor:
              | 
              span #{resource.author}
            hr
            .resource-date
              | #{new Date(resource.dataCriacao).toLocaleDateString()}

    style.
      .title-container {
        background-color: #333;
        padding: 20px;
        border-radius: 5px;
        color: #fff;
        width: 100%;
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }
      .search-bar-container {
        display: flex;
        gap: 10px;
      }
      .search-form, .reset-form {
        display: flex;
        align-items: center;
      }
      .search-bar {
        padding: 10px 30px 10px 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        color: #aaa; /* Cor do texto mais escura */
      }
      .search-button, .reset-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      .search-icon, .reset-icon {
        font-size: 20px;
        color: #aaa; /* Cor da lupa */
      }
      .filter-button {
        background-color: #1fd761;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      .filter-button:hover {
        background-color: #1a9f50;
      }
      .filter-button i {
        margin-left: 5px;
      }
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
      }
      .modal-content {
        background-color: #444;
        margin: 5% auto; /* 5% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        color: white;
        border-radius: 5px;
      }
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      .close:hover,
      .close:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
      label {
        text-align: left;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
      }
      .form-group label {
        font-weight: bold;
      }
      .form-group input {
        padding: 5px;
        border: none;
        border-radius: 5px;
        color: #333;
      }
      .apply-filters-button {
        background-color: #1fd761;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-end;
        margin-top: 5px;
      }
      .apply-filters-button:hover {
        background-color: #1a9f50;
      }
      .resource-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .resource-item {
        background-color: #444;
        padding: 20px;
        border-radius: 5px;
        color: #fff;
        transition: background-color 0.3s ease, color 0.3s ease;
        text-align: left;
        position: relative;
      }
      .resource-date {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 0.8em;
        color: #999;
      }
      .resource-link {
        text-decoration: none; /* Remove a decoração do link */
        color: inherit; /* Mantém a cor do texto herdada */
        display: block; /* Garante que o link ocupe todo o espaço do item */
        position: relative;
        margin-bottom: 20px;
      }
      .resource-link:visited, .resource-link:active, .resource-link:hover {
        color: inherit; /* Mantém a cor do texto herdada para estados visitado, ativo e hover */
        text-decoration: none; /* Remove a decoração do link para estados visitado, ativo e hover */
      }
      .resource-item:hover {
        background-color: #555;
        color: #1fd761;
        cursor: pointer;
      }
      .resource-item h3 {
        margin: 0 0 10px;
      }
      .resource-item p {
        margin: 5px 0;
      }
      hr {
        border: 1px solid #555;
      }

    script.
      function openFilterModal() {
        document.getElementById('filterModal').style.display = 'block';
      }

      function closeFilterModal() {
        document.getElementById('filterModal').style.display = 'none';
      }

      // Close the modal when clicking outside of it
      window.onclick = function(event) {
        const modal = document.getElementById('filterModal');
        if (event.target == modal) {
          modal.style.display = 'none';
        }
      }
