extends layout-main

block content
  .container
    .title-container
      h2 Rankings dos Usuários com Recursos Melhor Classificados

    if topUsers.length > 0
      each user, index in topUsers
        .user-item
          h3 #{index + 1}. #{user.firstName} #{user.lastName}
          p Média de Avaliação dos Recursos: #{user.averageRating.toFixed(2)}
          a(href=`/perfil/${user.userId}`) Ver Perfil
    else
      p Nenhum usuário encontrado.

  style.
    .container{
      margin-bottom: 10px;
    }
    .title-container {
      background-color: #333;
      padding: 20px;
      border-radius: 5px;
      color: #fff;
      width: 100%;
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .user-item {
      background-color: #444;
      padding: 20px;
      border-radius: 5px;
      color: #fff;
      margin-top: 20px;
    }
    .user-item h3 {
      margin: 0 0 10px 0;
    }
    .user-item p {
      margin: 5px 0;
    }
    .user-item a {
      color: #1fd761;
      text-decoration: none;
    }
    .user-item a:hover {
      text-decoration: underline;
    }
